/* Google Font */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Header */
header {
  background-color: pink;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

nav a:hover {
  color: #00bcd4;
}

/* Main */
main {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h1, h2 {
  color: #1e2a38;
}

/* Footer */
footer {
  background-color: pink ;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}